*{
  margin:0;
  padding: 0;
}
ol li{
  list-style: none;
}
body{
  overflow: hidden;
}
#canvas{
  display:block;
  position: fixed;
  top:0;
  left:0;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.actions{
  position:fixed;
  top:20px;
  left:25px;
}

.actions svg{
  width:2em;
  height:2em;
  transition: all 0.3s;
  margin-right:15px;
}
.actions svg.active{
  fill:red;
  transform:scale(1.2)
}

.color{
  position: fixed;
  top:65px;
  left:25px;
}
.color > li{
  border:2px solid white;
  border-radius:50%;
  height:25px;
  width:25px;
  margin:10px 0 ;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  transition: all 0.3s;
  transform: scale(1.1)
}

.color > li:nth-child(1){
  background-color:red;
}
.color > li:nth-child(2){
  background-color:blue;
}
.color > li:nth-child(3){
  background-color:green;
}

.color > li.active{
  box-shadow: 0 0 3px rgba(0,0,0,0.9);
  border:4px solid #ccc;
}
.size{
  width: 50px;
  position: fixed;
  right:20px;
  top: 10px;
}
.size li{
  margin-top:20px;
}
.size #thin{
  border-top: 2px solid black;
}
.size #thick{
  border-top: 10px solid black;
}

.size #medium{
  border-top: 6px solid black;
}